
.control {
    font-size: 11px;
}

button {
    background: $panel-color;
    color: $text-color;
    border: 1px solid $border-color;
    
    &:hover {
        background: rgba(50, 50, 50, 0.85);
    }
}

.button-group {
    @extend %clearfix;
    
    border: 1px solid $border-color;
    
    button {
        margin: 0;
        display: block;
        float: left;
        border: none;
        border-right: inherit;
    }
    
    & > button:last-child {
        border-right: none;
    }
}

select {
    background: $panel-color;
    color: $text-color;
    border: 1px solid $border-color;
}