.event-list {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    list-style: none;
    font-size: 11px;
    color: #666;
    z-index: -99;
    margin: 4px 8px;
    
    display: flex;
    flex-direction: column-reverse;
    
    .event {
        animation: fadeOut 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }
}

@media only screen and (max-width: 1200px) {
    .event-list {
        display: none;
    }
}