@import url(https://fonts.googleapis.com/css?family=Michroma);

#index {
    text-align: center;
    padding-bottom: 4em;
    font-weight: 300;
    min-width: 320px;
    
    & > {
        max-width: 600px;
    }
    
    article {
        max-width: 800px;
        margin-bottom: 6em;
        
        header {
            text-align: center;
            margin-bottom: 2em;
        }
    }
}

.page-header {
    font-family: 'Michroma', sans-serif;
    margin: 0 auto;
    display: table;
    height: 70vh;
    max-height: 600px;
    padding-bottom: 1.5em;
    
    .logo, .title h1 {
        width: 280px;
    }
    
    & > * {
        display: table-cell;
        vertical-align: middle;
    }

    .logo {
        position: relative;
        height: 350px;
        z-index: -3;
        border: 2px solid #222;
        
        canvas {
            width: 100%;
            height: 100%;
        }
        
        &::after {
            content: "";
            display: block;
            background: url(../images/skull-mask.svg);
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .title {
        overflow: hidden;
    
        div {
            border-left: 2px solid $text-color;
        }
        
        h1 {
            padding: 20px 0 20px 20px;
            font-size: 24px;
            opacity: 0;
            text-align: left;
            z-index: 99;
            
            animation: fadeinlogo 0.8s;
            animation-delay: 0.4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }
    }
}

.links {
    @extend %clearfix;
    padding: 10px 0;
    margin-bottom: 4em;

    a {
        color: inherit;
        display: inline-block;
        border-left: 1px solid $text-color;
        font-style: italic;
        padding: 2px 20px;

        &:first-child {
            border-left: none;
        }
    }
}

.experiment {
    @extend %clearfix;
    display: block;
    color: inherit;
    padding: 8px;
    
    &:visited {
        color: inherit;
    }
    
    &:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.1);
    }
    
    img {
        float: left;
        max-width: 400px;
        width: 100%;
    }

    h1 {
        padding-top: 50px;

        font-weight: 100;
        font-size: 40px;
        margin-bottom: 0.2em;
    }
}

.page-footer {
    clear: both;
    font-size: 85%;
    margin: 2em;
}


@keyframes fadeinlogo {
    0% { opacity: 0; transform: translateX(-100%); }
    70% { opacity: 0; }

    100%   { opacity: 1;  transform: translateX(0); }
}

@media only screen and (max-width: 600px) {
    .page-header {
        height: 60vh;
    }
}

@media only screen and (max-height: 800px) {
    .links {
        margin-bottom: 1.5em;
    }
}

@media only screen and (max-width: 500px) {
    .page-header {
         & > * {
            display: inline-block;
            max-width: 100%;
        }
    
        .title div {
            border-left: none;
        }
        
        .title h1 {
            white-space: nowrap;
            text-align: center;
            animation: none;
            opacity: 1;
            padding: 0;
            font-size: 20px;
            line-height: 22px;
        }
        
        .logo {
            width: 200px;
            height: 250px;
        }
    }
}