html, body, .container {
    height: 100%;
    min-height: 100%;
}

body {
    background: #111;
    color: white;
    overflow: hidden;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}