html, body, .full-container {
    min-height: 100%;
    max-width: 100%;
}

.full-container {
    width: 100%;
    min-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 100px;
    background-image: url(../images/small-logo.svg);
    background-size: 100%;

}

.page-logo:hover {
    background-image: url(../images/small-logo-active.svg);
}
