

$options-pane-width: 300px;

.main-view {
    height: 100%;
    position: relative;
    margin-right: $options-pane-width;
}

.match-view {
    width: 100%;
}

.side-panel {
    box-sizing: border-box;
    position: relative;
    float: right;
    width: $options-pane-width;
    background: $panel-color;
    border-left: 1px solid $border-color;
    height: 100%;
    z-index: 100;
    text-align: center;
}

.panel-collapse-button {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    bottom: 20px;
    margin-left: -46px;
    padding: 0;
}

// hide panel on screen if user has not manually expanded it
@media only screen and (max-width: 1200px) {
    .side-panel.implicit {
        width: 0;
        border: none;
    }
    
    .main-view {
        margin-right: 0;
    }
}