

#timeline {
    position: relative;

    height: 30px;
    background: $panel-color;
    border-top: 1px solid $border-color;
    padding: 10px 5px;
}

.timeline-event {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    top: 50%;
    border-radius: 100px;
    list-style: none;
}

.scrubber {
    height: 100%;
    border-left: 1px solid white;
}