

#timeline {
    position: relative;
    height: 60px;
    background: $panel-color;
    border-top: 1px solid $border-color;
    padding: 5px 16px 20px 16px;
    
    -webkit-user-select: none;
    user-select: none;

    .timeline-content {
        position: relative;
        height: 100%;
    }
}

.timeline-events {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.timeline-event {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    top: 50%;
    border-radius: 100px;
    list-style: none;
}

.scrubber {
    height: 100%;
    border-left: 1px solid white;
}

.timeline-ticks {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto 0;
}

.timeline-label {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
}