.weapon {
    background: white;
}

.weapon-assault-rifle {
    background: #79e0f3;
}
.weapon-ball {
    background: #f3e279;
}
.weapon-banshee {
    background: #be79f3;
}
.weapon-battle-rifle {
    background: #79f39b;
}
.weapon-beam-rifle {
    background: #f3797b;
}
.weapon-binary-rifle {
    background: #799ef3;
}
.weapon-boltshot {
    background: #c2f379;
}
.weapon-carbine {
    background: #f379e5;
}
.weapon-chaingun-turret {
    background: #79f3dd;
}
.weapon-dmr {
    background: #f3b979;
}
.weapon-energy-sword {
    background: #9679f3;
}
.weapon-environmental-explosives {
    background: #80f379;
}
.weapon-flagnum {
    background: #f379a3;
}
.weapon-forerunner-beam-turret {
    background: #79c7f3;
}
.weapon-frag-grenade {
    background: #eaf379;
}
.weapon-fuel-rod-cannon {
    background: #d779f3;
}
.weapon-gauss-turret {
    background: #79f3b4;
}
.weapon-ghost {
    background: #f39179;
}
.weapon-gravity-hammer {
    background: #7985f3;
}
.weapon-halo-2-battle-rifle {
    background: #a9f379;
}
.weapon-halo-one-pistol {
    background: #f379cc;
}
.weapon-hydra-launcher {
    background: #79f0f3;
}
.weapon-incineration-cannon {
    background: #f3d279;
}
.weapon-lightrifle {
    background: #af79f3;
}
.weapon-magnum {
    background: #79f38b;
}
.weapon-mantis {
    background: #f3798a;
}
.weapon-mongoose {
    background: #79aef3;
}
.weapon-needler {
    background: #d1f379;
}
.weapon-phaeton {
    background: #79f3cd;
}
.weapon-phantom-chin-gun {
    background: #f179f3;
}
.weapon-phantom {
    background: #f179f3;
}
.weapon-plasma-caster {
    background: #f37d79;
}
.weapon-plasma-grenade {
    background: #7999f3;
}
.weapon-plasma-pistol {
    background: #bcf379;
}
.weapon-railgun {
    background: #f379e0;
}
.weapon-rocket-launcher {
    background: #f3bf79;
}
.weapon-rocket-pod-turret {
    background: #9b79f3;
}
.weapon-saw {
    background: #7af379;
}
.weapon-scattershot {
    background: #f3799e;
}
.weapon-scorpion {
    background: #79c1f3;
}
.weapon-scorpion-anti-infantry-turret {
    background: #e5f379;
}
.weapon-shade-aa-turret {
    background: #dd79f3;
}
.weapon-shade-plasma-turret {
    background: #dd79f3;
}
.weapon-shotgun {
    background: #79f3ba;
}
.weapon-smg {
    background: #f39679;
}
.weapon-sniper-rifle {
    background: #797ff3;
}
.weapon-spartan {
    background: #a3f379;
}
.weapon-spartan-laser {
    background: #f379c6;
}
.weapon-spirit-chin-gun {
    background: #79eaf3;
}
.weapon-splinter-grenade {
    background: #f3d879;
}
.weapon-splinter-turret {
    background: #b579f3;
}
.weapon-spnkr-rocket-launcher {
    background: #79f391;
}
.weapon-storm-rifle {
    background: #f37985;
}
.weapon-suppressor {
    background: #79a8f3;
}
.weapon-unsc-auto-turret {
    background: #ccf379;
}
.weapon-warthog {
    background: #79f3d3;
}
.weapon-wraith {
    background: #f3af79;
}
.weapon-wraith-anti-infantry-turret {
    background: #8c79f3;
}
