.weapon {
    background: white;
}

.weapon-assault-rifle {
    background: white;
}
.weapon-ball {
    background: white;
}
.weapon-banshee {
    background: white;
}
.weapon-battle-rifle {
    background: white;
}
.weapon-beam-rifle {
    background: white;
}
.weapon-binary-rifle {
    background: white;
}
.weapon-boltshot {
    background: white;
}
.weapon-carbine {
    background: white;
}
.weapon-chaingun-turret {
    background: white;
}
.weapon-dmr {
    background: white;
}
.weapon-energy-sword {
    background: white;
}
.weapon-environmental-explosives {
    background: white;
}
.weapon-flagnum {
    background: white;
}
.weapon-forerunner-beam-turret {
    background: white;
}
.weapon-frag-grenade {
    background: white;
}
.weapon-fuel-rod-cannon {
    background: white;
}
.weapon-gauss-turret {
    background: white;
}
.weapon-ghost {
    background: white;
}
.weapon-gravity-hammer {
    background: white;
}
.weapon-halo-2-battle-rifle {
    background: white;
}
.weapon-halo-one-pistol {
    background: white;
}
.weapon-hydra-launcher {
    background: white;
}
.weapon-incineration-cannon {
    background: white;
}
.weapon-lightrifle {
    background: white;
}
.weapon-magnum {
    background: white;
}
.weapon-mantis {
    background: white;
}
.weapon-mongoose {
    background: white;
}
.weapon-needler {
    background: white;
}
.weapon-phaeton {
    background: white;
}
.weapon-phantom-chin-gun {
    background: white;
}
.weapon-phantom {
    background: white;
}
.weapon-plasma-caster {
    background: white;
}
.weapon-plasma-grenade {
    background: white;
}
.weapon-plasma-pistol {
    background: white;
}
.weapon-railgun {
    background: white;
}
.weapon-rocket-launcher {
    background: white;
}
.weapon-rocket-pod-turret {
    background: white;
}
.weapon-saw {
    background: white;
}
.weapon-scattershot {
    background: white;
}
.weapon-scorpion {
    background: white;
}
.weapon-scorpion-anti-infantry-turret {
    background: white;
}
.weapon-shade-aa-turret {
    background: white;
}
.weapon-shade-plasma-turret {
    background: white;
}
.weapon-shotgun {
    background: white;
}
.weapon-smg {
    background: white;
}
.weapon-sniper-rifle {
    background: white;
}
.weapon-spartan {
    background: white;
}
.weapon-spartan-laser {
    background: white;
}
.weapon-spirit-chin-gun {
    background: white;
}
.weapon-splinter-grenade {
    background: white;
}
.weapon-splinter-turret {
    background: white;
}
.weapon-spnkr-rocket-launcher {
    background: white;
}
.weapon-storm-rifle {
    background: white;
}
.weapon-suppressor {
    background: white;
}
.weapon-unsc-auto-turret {
    background: white;
}
.weapon-warthog {
    background: white;
}
.weapon-wraith {
    background: white;
}
.weapon-wraith-anti-infantry-turret {
    background: white;
}
